.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contactList {
    list-style: none;
    padding: 0;
  }
  
  .contactItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .contactLink {
    margin-right: 10px;
  }
  
  .deleteButton {
    background-color: #ff4136;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .editButton {
    background-color: #412c2b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }