/* app.css */
#recipeList {
    display: grid;
  }
  
  #recipeDetails {
    text-align: center;
  }
  
  #recipeImage {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  #backButton {
    text-align: left;
  }